# Data Cleaning and Preparation

#### Question 1: Import appropriate package and load the dataset
Using pandas load the *black_sea_water.csv*

In [5]:
import pandas as pd
import numpy as np
file_path = 'data/black_sea_water.csv'
df = pd.read_csv(file_path)
df

,Event,Date/Time,Latitude,Longitude,Station,Depth water [m],Temp [°C],Sal,DO,[PO4]3-,[NO2]-,[NO3]-,Chl
0,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,3,19.70,34.15,4.53,0.015,0.01,0.42,0.12
1,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,10,19.75,34.36,4.86,0.030,0.01,0.18,0.13
2,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,20,21.12,35.53,4.87,0.016,0.01,0.16,NaN
3,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,30,19.80,37.05,5.12,0.015,0.02,0.15,0.22
4,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,50,17.54,38.76,5.46,NaN,NaN,NaN,0.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Aegaeo_2013-10_AMT-7,2013-10-11,39.6458,25.592,AMT-7,3,19.88,36.49,5.13,0.014,0.01,0.17,0.09
75,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,3,19.70,34.15,4.53,0.015,0.01,0.42,0.12
76,Aegaeo_2014-03_AMT-2,2014-03-22,39.2500,25.445,AMT-2,50,14.45,384.00,5.53,0.130,0.08,0.14,0.48
77,Aegaeo_2014-07_AMT-2,2014-07-17,39.2530,25.445,AMT-2,20,22.59,38.03,5.42,0.015,0.00,0.04,0.08
78,Aegaeo_2013-10_AMT-3,2013-10-10,39.1080,25.435,AMT-3,50,17.37,38.64,5.65,0.010,0.01,0.11,0.22

#### Question 2: Complete the 'handle_missing_values' function to handle missing values in the dataset. 

Iterate each column of the dataframe **df_filled**. Using **fillna()** fill the ***NaN*** values in each column by replacing it with the average (mean) value if it's a numeric column or with the string "NA" if it's a text column.

*Hint* : You can use numpy to detect if the column's data type is a number with the following condition:
-  **if np.issubdtype(df_filled[column].dtype, np.number)**

In [3]:
# Function to handle missing values for both text and numeric columns
def handle_missing_values(df):
    df_filled = df.copy()

    for column in df_filled.columns:
        if np.issubdtype(df_filled[column].dtype, np.number):
            mean_value = df_filled[column].mean()S
            df_filled[column] = df_filled[column].fillna(mean_value)
        else:
            df_filled[column] = df_filled[column].fillna('NA')
    return df_filled

In [4]:
handle_missing_values(df)

,Event,Date/Time,Latitude,Longitude,Station,Depth water [m],Temp [°C],Sal,DO,[PO4]3-,[NO2]-,[NO3]-,Chl
0,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,3,19.70,34.15,4.53,0.015000,0.010000,0.42000,0.120000
1,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,10,19.75,34.36,4.86,0.030000,0.010000,0.18000,0.130000
2,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,20,21.12,35.53,4.87,0.016000,0.010000,0.16000,0.176623
3,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,30,19.80,37.05,5.12,0.015000,0.020000,0.15000,0.220000
4,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,50,17.54,38.76,5.46,0.038169,0.024935,0.20974,0.220000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Aegaeo_2013-10_AMT-7,2013-10-11,39.6458,25.592,AMT-7,3,19.88,36.49,5.13,0.014000,0.010000,0.17000,0.090000
75,Aegaeo_2013-10_AMT-2,2013-10-10,39.2500,25.446,AMT-2,3,19.70,34.15,4.53,0.015000,0.010000,0.42000,0.120000
76,Aegaeo_2014-03_AMT-2,2014-03-22,39.2500,25.445,AMT-2,50,14.45,384.00,5.53,0.130000,0.080000,0.14000,0.480000
77,Aegaeo_2014-07_AMT-2,2014-07-17,39.2530,25.445,AMT-2,20,22.59,38.03,5.42,0.015000,0.000000,0.04000,0.080000
78,Aegaeo_2013-10_AMT-3,2013-10-10,39.1080,25.435,AMT-3,50,17.37,38.64,5.65,0.010000,0.010000,0.11000,0.220000

#### Question 3: Complete the 'handle_outliers' function to handle outliers in the dataset
Same as Question 2, iterate each column of the dataframe, detect if the column's data type is a number, if it is then identify outliers using the interquartile range (IQR) method teached in class.

In [9]:
# Function to handle outliers for numeric columns
def handle_outliers(df):
    #Your code goes here

In [3]:
#Your code goes here

#### Question 4: Complete the 'handle_duplicates' function to remove duplicates in the dataset
Drop duplicates from the **df** dataframe and save it in the **df_deduplicated** variable. Print the shape of the original dataset and the shape of the Deduplicated dataset to compare.

In [11]:
# Function to handle duplicates
def handle_duplicates(df):
    #Your code goes here

In [4]:
#Your code goes here

#### Question 5: Complete the 'standardize_data' function to standardizes the 'Species' column in the dataset
Using the following dataset, standarize the *Species* column.

In [6]:
import pandas as pd
data = {
    'Species': [' blue whale ', 'great White shark', 'dolphin', 'BLUE whale', 'doLPHin'],
    'Count': [5, 2, 13, 4, 11]
}
df_ocean_species = pd.DataFrame(data)

In [14]:
# Function to address inconsistency and standardize data
def standardize_data(df):
    #Your code goes here

In [8]:
#Your code goes here